[![Build Status](https://api.travis-ci.org/kolypto/py-good.png?branch=master)](https://travis-ci.org/kolypto/py-good)


{% macro argspec(args) -%}
{% for a in args %}{% if a.doc %}* `{{ a.name }}`: {{ a.doc }}{% endif %}
{% endfor %}
{%- endmacro %}


{% macro fdoc(func) -%}
```python
{{ func.qsignature|wordwrap(60)|indent(1+func.qualname|length) }}
```

{{ func.doc }}

{{ argspec(func.args) }}
{%if func.ret %}Returns: `{{ func.ret.type }}` {{ func.ret.doc }}{% endif %}

{%if func.exc %}Throws:{{ '\n' }}{% for e in func.exc %}* `{{ e.name }}`: {{ e.doc|indent(4) }}{{ '\n' }}{% endfor %}{% endif %}
{%- endmacro %}

Good
====

{{ good.doc }}


Table of Contents
=================

* <a href="#good">Good</a>
* <a href="#table-of-contents">Table of Contents</a>
* <a href="#schema">Schema</a>
    * <a href="#callables">Callables</a>
    * <a href="#priorities">Priorities</a>
    * <a href="#creating-a-schema">Creating a Schema</a>
    * <a href="#validating">Validating</a>
    * <a href="#errors">Errors</a>
        * <a href="#invalid">Invalid</a>
            * <a href="#invalidenrich">Invalid.enrich()</a>
        * <a href="#multipleinvalid">MultipleInvalid</a>
    * <a href="#markers">Markers</a>
        * <a href="#required">Required</a>
        * <a href="#optional">Optional</a>
        * <a href="#remove">Remove</a>
        * <a href="#reject">Reject</a>
        * <a href="#allow">Allow</a>
        * <a href="#extra">Extra</a>


Schema
======

{{ Schema.cls.clsdoc }}

Creating a Schema
-----------------
{{ fdoc(Schema.cls) }}

Validating
----------

{{ fdoc(Schema.attrs.__call__) }}

Errors
------

{{ errors.doc }}

### {{ Invalid.cls.name }}
{{ fdoc(Invalid.cls) }}

#### `{{ Invalid.attrs.enrich.qualname }}()`
{{ fdoc(Invalid.attrs.enrich) }}

### {{ MultipleInvalid.cls.name }}
{{ fdoc(MultipleInvalid.cls) }}

Markers
-------

{{ markers.module.doc }}

{% for marker in markers.members %}
### `{{ marker.qualname }}`
{{ fdoc(marker) }}
{% endfor %}

